.wrap-pr {
  max-width: 1400px;
  margin: auto;
}

#all {
  color: black;
  padding: 10px;
  margin-bottom: 20px;
}

img {
  max-width:100%;
}

#df-cl {
  background-color: #C7D2BD;
  padding: 14px;
}

.wrap-img {
  position: relative;
  padding-bottom: 50%;
}

.wrap-img img {
  height:100%;
  width: 100%;
  position: absolute;
  top:0;
  left:0;
  object-fit: cover;
  object-position: center;
}


.wrap-img1 {
  position: relative;
}

.wrap-img1 img {
  width: 20%;

  position: absolute;
  left: 82%;
  bottom: 0%;

  background-color: #C7D2BD;
  padding: 15px 5px 5px 7px;
}


.wrap-header h3{
  font-size: 22px;
  font-family: 'BF Vega Semi 10';
  font-weight: 700;
}

.wrap-header1 {
  padding: 0px;
}

.title {
  top: 34px; left: 25px; font-size: 18px; font-weight: 800; line-height: 20px; font-family: 'BF Vega Ultra 10';
}
.all-art{
  top: 372px; left: 26px; font-size: 12px; font-family: Manrope, SemiBold;
}
.theme {
  color: #26262699; font-family: 'Manrope';
}
.names {
  color: black; font-weight: 600; font-family: Manrope, Bold;
}
.subtitle {
  font-size: 18px; font-weight: 700; line-height: 20px; color: black; font-family: 'BF Vega Ultra 10'; margin-bottom: 10px;
}
.name {
  color: black; font-weight: 700; font-size: 14px; margin-bottom: 10px; margin-top: -15px; line-height: 24px; font-family: 'Manrope';
}
.fin-art {
  line-height: 23px; font-family: 'BF Vega 10'; margin-bottom: 30px;
}


/*===========================================================================================================*/


.wrap-img2 {position: relative;padding-bottom: 50%;}

.wrap-img2 img {
  height:100%; 
  width: 100%; 
  position: absolute; 
  top: 0; 
  left: 0; 
  object-fit: cover; 
  object-position: center;
}

#p1 {display: flex;}
#p2 {font-size: 14px;font-weight: 600; margin-top: 10px; line-height: 19px;}

.inline-article{width:100%; display:flex; flex-direction:row-reverse}
.wrap-thumb1 {width:50%}
.wrap-post1 {width:60%}

.is-flex {
  display: flex;
  line-height: 19px;
}

/*===========================================================================================================*/


.article3 {display: flex;}
.wrap-content {margin-left: 20px;}

.wrap-post3 {max-width: 250px;}

.dropbtn {
  background-color: #ffffff;
  color: #3A55A6;
  border: 1.6px solid #3A55A6;
  border-radius: 3px;
  font-weight: 600;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border: 1.6px solid #3A55A6;
}

.dropdown-content a {
  color: #3A55A6B3;
  font-size: 14px;
  font-weight: 600;
  padding: 5px 5px;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd; font-weight: 700; color: #3A55A6;}

.dropdown:hover .dropdown-content {display: block; width: 138px;}

.dropdown:hover .dropbtn {background-color: #3A55A6; color:white}

/*===========================================================================================================*/

.all1 {
  background-color: #272A2E;
}

.wrap-img img {
  width: 100%;
  height:100%;
  position: absolute;
  
  object-fit: cover;
  object-position: center;
}

.wrap-img-pb {
  position: relative;
}

.wrap-img-pb img {
  height: 45px;
  width: 45px;
  position: absolute;
  left: 41%;
  margin-bottom: 17%;
  bottom: 0%;

  background-color: transparent;

  margin-left: auto;
  margin-right: auto;
}

#ef {
  margin-left: -10px;
}
#ef-h {
  color: white;
  display: flex;
  justify-content: center;
  margin: 15px auto;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
}




.post {
  display: flex;
  flex-wrap: wrap;
}
.div-under {
  flex: 0 0 100%;
  display: flex;
  flex-wrap:nowrap;
  margin-top: -25px;
  margin-left: 0px;
}




.wrap-post {
  margin-top: 10px;
}

.wrap-postmeta {
  margin-top: 30px;
  font-size: 14px;
  line-height: 19px;
  color: white;
}

#arts {
  margin-top: -6%;
}



#slick-buttons {
  display: flex;
  margin: auto;
  margin-top: 15px;
  justify-content: center;
}
#slick .arrow_prev {
  position: relative;
  margin-right: 5px;
  border: 2px solid white;
  border-radius: 50px;
}
#slick .arrow_next {
  position: relative;
  margin-left: 5px;
  border: 2px solid white;
  border-radius: 50px;
}
#arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  color: white;
  cursor: pointer;
  font-size: 20px;
}


#art {
  margin-top: 20px;
}